
        h1 {
            color: red; font-size: 50px;
        }

        #tituloPrincipal{
            color: red; font-size: 50px;
        }

        .TitulosSistema {
            color: red; font-size: 50px;
        }
    